body{
    background-color:whitesmoke
}
#navi{
    padding-left: 10px;
    list-style: none;
}
h1 {
    color: navy;
    font-style:italic;  
}
a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

ul {
    border-bottom-style: solid;
    
}

a:link {
    color: white;
}
li {
   padding: 4px;
   
}